<div id="multilingual-language">
    <p style="text-align: right;cursor: pointer;"><span (click)="onClose()"><i class="fa fa-times"></i></span></p>
    <p [innerHTML]="data | sanitizeHtml"></p>
</div>