<div id="chat-window">
    <div class="chat-window-container">
        <div class="topnav" id="myTopnav">
            <div class="d-flex">
                <div class="header-logo-bot">
                    <a href="https://heallify.com/"><img src="../../../assets/images/heallify_logo_transparent.png"></a>
                </div>
                <div class="header-logo-bot" style="width: 100px;"><img src="../../../assets/images/image.png"></div>
            </div>
        </div>

        <!-- <div class="chat-bot-img">
            <div class="heallify-logo animated jackInTheBox delay-1s"><img src="../../../assets/images/transparent.png"></div>
            <div class="heallify-bot animated fadeInUp delay-2s">
                <img src="../../../assets/images/healthyBot.png">
                <div class="virtual-doc-msg">
                    <span id="title">{{title}}</span>
                    <span class="bubble__arrow"></span>
                </div>
            </div>

        </div> -->
        <div class="chat-screen">
            <div class="disclaimer-msg" style="color: #e3513f;" *ngIf="!mobileView">
                {{start_disclaimer}}
            </div>
            <div class="conversation ps">
                <div #scrollMe class="messages-box" id="message-box">
                    <div class="message-container" id="message-container0">
                        <div class="message type-0 passed" *ngIf="hideStartText">
                            <div class="avatar-container" id="avatar">
                                <div class="question animated fadeInUp" id="que">
                                    <div class="text">
                                        <p style="margin:0;">{{welcome_msg}}</p><span class="mat-time">{{time}}<mat-icon class="mat-icon material-icons mat-icon-no-color mat-custom-icon">check</mat-icon></span></div>
                                </div>
                            </div>
                            <div class="actions-container animated fadeInUp delay-1s" id="actionContainer">
                                <div class="wrap">
                                    <div tabindex="1" class="action" id="actionButton0-0" (click)="welcomeFunction()" *ngIf="!hideContinue"><span>{{start_btn}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="append"></div>
                    <div class="loader-box" *ngIf="!hideBubble">
                        <div class="bubble relative solid collide"></div>
                    </div>
                    <!-- <div class="upper-transparentSection"></div> -->
                </div>
                <!--  *ngIf="toggleButton"-->
                <div class="input-container-wrap" ngClass.xs="container-wrap_xs" *ngIf="toggleButton">
                    <div class="input-container">
                        <input maxlength="255" tabindex="1" type="text" ngClass.xs="input_xs" (keydown)="keyDownFunction($event)" [(ngModel)]="userResponse" placeholder="Type here...">
                        <div class="send-btn">
                            <i class="material-icons" (click)="onClickSend()">send</i>
                        </div>
                    </div>
                </div>
                <div class="risk-assesment-container animated fadeIn" id="risk-assessment" *ngIf="risk_assessment">
                    <h2 style="margin: 0;">Novel Coronavirus (COVID-19)</h2>
                    <div class="risk-img-level">
                        <img *ngIf="risk_assessment.riskLevel == 0" src="../../../assets/images/icons8-low-risk-80.png">
                        <img *ngIf="risk_assessment.riskLevel == 1" src="../../../assets/images/icons8-medium-risk-80.png">
                        <img *ngIf="risk_assessment.riskLevel == 2" src="../../../assets/images/icons8-high-risk-80.png">
                    </div>
                    <div *ngIf="risk_assessment.riskLevel == 0">
                        <b>You have a <span style="color: #90b73f;">low</span> risk.</b>
                    </div>
                    <div *ngIf="risk_assessment.riskLevel == 1">
                        <b>You have a <span style="color: #e9a319;">moderate</span> risk.</b>
                    </div>
                    <div *ngIf="risk_assessment.riskLevel == 2">
                        <b>You have a <span style="color: #e3513f;">high</span> risk.</b>
                    </div>
                    <div style="text-align: left;">
                        <ul class="risk-msg">
                            <li style="margin-bottom: 8px;line-height: 1.5;" *ngFor="let msg of assessmentMessage" [innerHTML]="msg | sanitizeHtml"></li>
                        </ul>
                    </div>
                    <!-- https://icmr.nic.in/sites/default/files/upload_documents/COVID_19_Testing_Laboratories.pdf -->
                    <p style="margin-top:12px;color: #373b3d;"><span [innerHTML]="download_link_msg | sanitizeHtml"></span> <a href="../../../assets/COVID_19_Testing_Laboratories.pdf" download="COVID.pdf">COVID</a></p>
                    <div class="helpline-numbers">
                        <p style="margin-top: 10px;">{{national_number}}</p>
                        <p style="color: #373b3d;"><b>{{risk_assessment.contactNum}}</b></p>
                        <div class="state-helpline-number" *ngIf="risk_assessment.stateHelpLine">
                            <p>{{state_number}}</p>
                            <p style="color: #373b3d;"><b>{{risk_assessment.stateHelpLine.state}} - {{risk_assessment.stateHelpLine.contact}}</b></p>
                        </div>
                    </div>
                    <hr style="border-top: 0px solid #ccc;width: 100%;" />
                    <div class="like-dislike" *ngIf="!feedback">
                        <p style="color: #373b3d;margin: 10px 0;">Did you find this info helpful?</p>
                        <div class="rating">
                            <!-- Thumbs up -->
                            <div class="like grow" style="margin: 0;" (click)="isAssessmentHelpful(1)">
                                <i class="fa fa-thumbs-up fa-3x like" aria-hidden="true"></i>
                            </div>
                            <!-- Thumbs down -->
                            <div class="dislike grow" style="margin: 0;" (click)="isAssessmentHelpful(0)">
                                <i class="fa fa-thumbs-down fa-3x dislike" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <p><span style="color: #373b3d;" *ngIf="feedback">Thank you for your feedback.</span></p>

                    <!-- <button type="button" class="checkbox-submission" (click)="openAssessmentForm()">Submmit Assessment</button> -->
                </div>
            </div>
            <div #map style=”width:100%;height:400px”></div>
        </div>
        <div class="disclaimer-msg" style="color: #e3513f;margin-bottom: 95px;" *ngIf="mobileView">
            {{start_disclaimer}}
        </div>
    </div>
    <div id="footer">
        <!-- *ngIf="risk_assessment" -->
        <span (click)="askForRestart()" *ngIf="mobileView"><i class="fa fa-refresh"></i> {{restart_assessment}}</span>
        <div class="footer-info">
            <!-- <div class="dev-by">
                <span>Developed By</span>
                <a href="https://heallify.com/">
                    <img src="../../../assets/images/heallify_logo_transparent.png">
                </a>
            </div> -->
            <span (click)="askForRestart()" *ngIf="!mobileView"><i class="fa fa-refresh"></i> {{restart_assessment}}</span>
            <!-- <div class="partner">
                <p style="margin:0;">Partner<br/> <a href="http://www.cpc-analytics.com/" target="_blank">CPC Analytics</a></p>
            </div> -->
        </div>
    </div>
</div>