<div id="risk-assessment-form">
    <p style="text-align: right;cursor: pointer;"><span (click)="onClose()"><i class="fa fa-times"></i></span></p>
    <form id="r-a-form" [formGroup]="riskassessmentForm" (ngSubmit)="onFormSubmit(riskassessmentForm.value)">
        <div class="field-height">
            <mat-label class="matLabel">Name
                <span class="input-required-mark">*</span>
            </mat-label>
            <input matInput type="text" class="mat-input-fields" placeholder="enter name" formControlName="name" required>
        </div>
        <div class="field-height">
            <mat-label class="matLabel">Email
                <!-- <span class="input-required-mark">*</span> -->
            </mat-label>
            <input matInput type="email" class="mat-input-fields" placeholder="enter email" formControlName="email">
        </div>
        <div class="field-height" id="email-availibility">
            <div>
                <mat-label class="matLabel">Mobile
                    <span class="input-required-mark">*</span>
                </mat-label>
                <input matInput class="mat-input-fields" (keypress)="isNumberKey($event)" placeholder="enter phone" formControlName="mobile" required>
            </div>
        </div>
        <div class="field-height" id="email-availibility">
            <div>
                <mat-label class="matLabel">Area
                    <!-- <span class="input-required-mark">*</span> -->
                </mat-label>
                <input matInput class="mat-input-fields" placeholder="Enter Area" formControlName="area">
            </div>
        </div>
        <div class="field-height" id="email-availibility">
            <div>
                <mat-label class="matLabel">Pincode
                    <!-- <span class="input-required-mark">*</span> -->
                </mat-label>
                <input matInput class="mat-input-fields" (keypress)="isNumberKey($event)" placeholder="Enter pincode" formControlName="pincode">
            </div>
        </div>
        <div class="field-height">
            <mat-label class="matLabel">Address
            </mat-label>
            <textarea matInput name="address" class="mat-input-fields" formControlName="address"></textarea>
        </div>
        <mat-card-actions class="button-space">
            <button type="submit" class="checkbox-submission" mat-button>Submit</button>
            <button type="button" class="checkbox-submission" mat-button style="margin-left: 20px;" (click)="onClose()">Cancel</button>
        </mat-card-actions>
    </form>
</div>