<div id="multilingual-language">
    <p style="text-align: right;cursor: pointer;"><span (click)="onClose()"><i class="fa fa-times"></i></span></p>
    <h1 style="text-align:center;" class="lang-h1">How would I assist you?</h1>
    <div class="select-bot-language">
        <div class="lang-img chose-eng" (click)="selectLanguage(1)">
            <img src="../../../../assets/images/english-language.png">
            <span class="language">English</span>
        </div>
        <div class="lang-img chose-hindi" (click)="selectLanguage(2)">
            <img src="../../../../assets/images/hindi-language.svg.png">
            <span class="language">हिंदी</span>
        </div>
        <div class="lang-img chose-marathi" (click)="selectLanguage(3)">
            <img src="../../../../assets/images/marathi-language-icon.jpg">
            <span class="language">मराठी</span>
        </div>
    </div>
</div>