.select-bot-language {
    display: flex;
    text-align: center;
    font-size: 20px;
    justify-content: space-evenly;
}

.lang-img {
    width: 150px;
    height: 150px;
    border: 1px solid #9AA6AC;
    border-radius: 3px;
    cursor: pointer;
}

.lang-img img {
    width: 100%;
    height: 100%;
}

span.language {
    display: inline-block;
    margin: 20px 0;
}

.lang-img:hover {
    box-shadow: 0px 0px 10px 0px rgba(174, 174, 174, 0.78);
}

@media screen and (max-width: 625px) {
    .lang-img {
        width: 100px;
        height: 100px;
    }
    .lang-h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 465px) {
    .lang-img {
        width: 80px;
        height: 80px;
    }
    .lang-h1 {
        font-size: 32px;
    }
    .language {
        font-size: 14px;
    }
}

@media screen and (max-width: 375px) {
     :host ::ng-deep #mat-dialog-0 {
        padding: 24px 12px;
    }
}