<div id="risk-assessment-form">
    <p style="text-align: right;cursor: pointer;"><span (click)="onClose()"><i class="fa fa-times"></i></span></p>
    <h1>Enter Your Location</h1>
    <form id="r-a-form" [formGroup]="getLocationForm" (ngSubmit)="onFormSubmit(getLocationForm.value)">
        <div class="field-height">
            <!-- <mat-form-field>
                <mat-label>Country
                    <span class="input-required-mark">*</span>
                </mat-label>
                <mat-select class="mat-input-fields" placeholder="Country" formControlName="country" (selectionChange)="getStates($event)">
                    <mat-option *ngFor="let item of countryArray" value="{{item}}">{{item}}</mat-option>
                </mat-select>
            </mat-form-field> -->
            <mat-label class="matLabel">City
                <span class="input-required-mark">*</span>
            </mat-label>
            <input matInput type="text" class="mat-input-fields" placeholder="Enter City" formControlName="city" required>
        </div>
        <div class="field-height">
            <!-- <mat-form-field>
                <mat-label>State
                    <span class="input-required-mark">*</span>
                </mat-label>
                <mat-select class="mat-input-fields" placeholder="State" formControlName="state" (selectionChange)="getCities($event)">
                    <mat-option *ngFor="let item of stateArray" value="{{item}}">{{item}}</mat-option>
                </mat-select>
            </mat-form-field> -->
            <mat-label class="matLabel">State
                <span class="input-required-mark">*</span>
            </mat-label>
            <input matInput type="text" class="mat-input-fields" placeholder="Enter State" formControlName="state" required>
        </div>
        <div class="field-height" id="email-availibility">
            <div>
                <!-- <mat-form-field>
                    <mat-label>City
                        <span class="input-required-mark">*</span>
                    </mat-label>
                    <mat-select class="mat-input-fields" placeholder="City" formControlName="city">
                        <mat-option *ngFor="let item of citiesArray" value="{{item}}">{{item}}</mat-option>
                    </mat-select>
                </mat-form-field> -->
                <mat-label class="matLabel">Country
                    <span class="input-required-mark">*</span>
                </mat-label>
                <input matInput class="mat-input-fields" placeholder="Enter Country" formControlName="country" required>
            </div>
        </div>
        <mat-card-actions class="button-space">
            <button type="submit" [disabled]="!getLocationForm.valid" class="checkbox-submission" mat-button>Submit</button>
            <button type="button" class="checkbox-submission" mat-button style="margin-left: 20px;" (click)="onClose()">Cancel</button>
        </mat-card-actions>
    </form>
</div>