:host ::ng-deep .checkbox-submission {
    border-color: #743BD6;
    color: #743BD6;
    align-items: flex-start;
    margin-top: 8px;
    padding: 1px 20px;
    border: 1px solid #743BD6;
    border-radius: 20px;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /* display: flex; */
    background-color: white;
    flex-direction: row;
    cursor: pointer;
    font-size: 16px;
}

:host ::ng-deep .action-btn {
    margin-left: 12px;
}

:host ::ng-deep .checkbox-submission:hover {
    color: #fff;
    background-color: #743BD6;
}

:host ::ng-deep .checkbox-submission:focus {
    outline: none;
}

:host ::ng-deep .field-height {
    margin-bottom: 20px;
}