<div id="multilingual-language">
    <p style="text-align: right;cursor: pointer;"><span (click)="onClose()"><i class="fa fa-times"></i></span></p>
    <div class="ask-for-reload" style="text-align: center;">
        <h1>Do you want to Restart Assessment?</h1>
        <p>By doing this you will lose your current assessment.</p>
        <mat-card-actions class="button-space">
            <button type="button" class="checkbox-submission" (click)="reload()" mat-button>Restart</button>
            <button type="button" class="checkbox-submission" mat-button style="margin-left: 20px;" (click)="onClose()">Back</button>
        </mat-card-actions>
    </div>
</div>