#chat-window {
    height: 100vh;
}

.heallify-logo {
    width: 60%;
    margin-bottom: 30px;
}

.heallify-logo img {
    width: 100%;
    height: 100%;
}

.heallify-bot {
    position: relative;
}

.d-flex {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 10px 22px;
    justify-content: space-around;
}

.header-logo-bot {
    width: 140px;
}

.header-logo-bot img {
    width: 100%;
    /* height: 100%; */
}

.topnav {
    overflow: hidden;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px 0px;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.virtual-doc-msg {
    position: absolute;
    top: 36px;
    right: -30%;
    background-color: #EEEEEE;
    color: #36424A;
    padding: 8px 16px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 134px;
    font-size: 18px;
    line-height: 1.3;
}

.bubble__arrow {
    position: absolute;
    font-size: 0;
    display: block;
    width: 20px;
    height: 20px;
    bottom: -20px;
    left: 0;
    overflow: hidden;
}

.bubble__arrow:after {
    position: absolute;
    content: "";
    background: #eee;
    width: 100%;
    height: 100%;
    top: -75%;
    left: 0;
    border-bottom-left-radius: 5px;
    transform: matrix(12, -9.5, 0, 1, 8, -5);
}

.heallify-bot img {
    width: 100%;
    height: 100%;
}

.chat-window-container {
    /* display: flex; */
    height: 100%;
}

.chat-bot-img {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0048af;
    justify-content: center;
}

.chat-screen {
    flex: 1;
}

.conversation {
    flex: 1 1 auto;
    text-align: left;
    position: relative;
    max-height: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 50%;
    /* overflow-y: scroll !important; */
}

.conversation .messages-box {
    max-height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    /* padding-top: 35px; */
    overflow-y: auto;
    overflow-x: hidden;
    height: 68vh;
    /* background: #eef1f5; */
    padding-top: 20px;
    padding-bottom: 20px;
}

.conversation .message {
    display: block;
    /*margin-bottom: 15px;*/
    position: relative;
    max-width: 100%;
}

:host ::ng-deep .message-container {
    z-index: 9999;
}

:host ::ng-deep .message-container.right {
    z-index: 9999;
    text-align: right;
}

:host ::ng-deep .response-wrap {
    /* display: inline-block;
    margin-left: 40px;
    margin-bottom: 16px;
    max-width: calc(100% - 40px);
    text-align: left; */
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
    justify-content: flex-end;
    margin: 0;
    text-align: left;
    position: relative;
}

:host ::ng-deep .response {
    background-color: #743BD6;
    color: White;
}

:host ::ng-deep .response {
    position: relative;
    /* border-top-left-radius: 20px; */
    /* border-bottom-left-radius: 20px; */
    border-radius: 8px;
    padding: 8px 16px;
    line-height: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}

:host ::ng-deep .response-wrap::after {
    right: 0;
    border-style: solid;
    border-width: 0 0 12px 18px;
    border-color: transparent transparent transparent #743BD6;
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 8px;
}

:host ::ng-deep .response .text {
    line-height: 20px;
    text-transform: capitalize;
}

:host ::ng-deep .agr-error {
    color: #e3513f;
    margin-top: 5px;
    text-align: left;
    font-size: 12px;
    display: none;
}


/*.text {
   overflow: hidden;
   font-size: 14px;
   font-weight: 400;
   letter-spacing: .3px;
}*/

::ng-deep .question {
    /* display: flex; */
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
    justify-content: flex-start;
    margin: 0;
    text-align: left;
    position: relative;
    /* position: relative;
    background-color: #efefef;
    margin-bottom: 4px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 8px 16px;
    margin-right: 40px;
    line-height: 20px;
    max-width: calc(100% - 40px);
    background-color: rgb(239, 239, 239);
    color: rgb(58, 58, 60); */
}

::ng-deep .question::after,
.loader-box::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 12px solid;
    border-color: #EEEEEE transparent transparent transparent;
}

.loader-box::after {
    left: -11px;
}

::ng-deep .question .text {
    overflow: hidden;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .3px;
    display: inline-block;
    margin-bottom: 8px;
    /* border-top-right-radius: 20px; */
    /* border-bottom-right-radius: 20px; */
    border-radius: 8px;
    padding: 8px 16px;
    margin-right: 40px;
    line-height: 20px;
    max-width: calc(100% - 40px);
    background-color: #EEEEEE;
    color: #36424A;
    width: 50%;
}


/*css for chat buttons*/

:host ::ng-deep .conversation .message .actions-container {
    z-index: 1;
    position: relative;
    text-align: right;
    /* float: right; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-end;
}

:host ::ng-deep .actions-container .wrap .action,
:host ::ng-deep .checkbox-submission,
:host ::ng-deep #age-submission {
    border-color: #743BD6;
    /* background-color: #eef1f5; */
    color: #743BD6;
    align-items: flex-start;
    margin-top: 8px;
    /* margin-left: 12px; */
    padding: 8px 25px;
    border: 1px solid #743BD6;
    border-radius: 20px;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3 ease-in;
}

:host ::ng-deep .action-btn {
    margin-left: 12px;
}

:host ::ng-deep .checkbox-submission,
:host ::ng-deep #age-submission {
    background-color: white;
    transition: all 0.3 ease-in;
}

:host ::ng-deep .checkbox-submission:hover,
:host ::ng-deep #age-submission:hover {
    color: #fff;
    background-color: #743BD6;
}

:host ::ng-deep .actions-container .wrap .action:focus,
:host ::ng-deep .checkbox-submission:focus,
:host ::ng-deep #age-submission:focus {
    outline: none;
}

:host ::ng-deep .actions-container .wrap .action:hover,
:host ::ng-deep .skip_action:hover {
    background-color: #743BD6;
    color: White;
}

:host ::ng-deep .actions-container .wrap .action:hover .icon {
    border-color: White;
}

:host ::ng-deep .actions-container .wrap .action .icon:before {
    display: none;
    content: "";
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #2bb885;
}

:host ::ng-deep .actions-container .wrap .action .icon {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    flex: 0 0 auto;
    border: 1px solid #2bb885;
    padding: 3px;
    margin-right: 6px;
    margin-top: 2px;
}

:host ::ng-deep .actions-container .wrap .action .icon~span {
    min-width: 0;
    word-wrap: break-word;
    white-space: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .3px;
}

:host ::ng-deep .actions-container .wrap {
    display: inline-block;
    /* flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%; */
}

:host ::ng-deep .actions-container .wrap:focus {
    outline: none;
}

.input-container-wrap {
    display: none;
    padding: 0px;
    z-index: 0;
    /* bottom: 2px; */
    /* display: inline-flex; */
    /* position: fixed; */
}

.container-wrap_xs {
    display: none;
    padding: 0px;
    z-index: 0;
    bottom: 0px;
    /* position: fixed; */
}

.input-container-wrap {
    display: block;
}

.input-container-wrap .input-container {
    position: relative;
}

.input-container {
    display: inline-flex;
    width: 100%;
}

.input-container input {
    font-weight: 300;
    border: 0;
    height: 50px;
    padding-left: 16px;
    padding-right: 50px;
    width: 100%;
    font-family: Kanit;
    letter-spacing: .3px;
    font-size: 14px;
    color: #2c2c2c;
    background: #fff;
    /* border-radius: 28px; */
    border-bottom: 2px solid #3a5274;
    width: 100%;
}

.input-container input:focus {
    outline: none;
}

.input_xs {
    font-weight: 300;
    border: 0;
    height: 50px;
    padding-left: 16px;
    padding-right: 50px;
    width: 100%;
    font-family: Kanit;
    letter-spacing: .3px;
    font-size: 14px;
    color: #2c2c2c;
    background: #fff;
    border-radius: 28px;
    border: 1px solid #9b9b9b;
    width: 250px !important;
}

.send-btn {
    width: 17px;
    height: 18px;
    position: absolute;
    top: 50%;
    margin-top: -11px;
    right: 16px;
    cursor: pointer;
}

:host ::ng-deep .append {
    padding-bottom: 40px !important;
}

:host ::ng-deep .append_xs {
    padding-bottom: 20px !important;
}

:host ::ng-deep .mat-custom-icon {
    vertical-align: text-top;
    font-size: 15px;
}

.upper-transparentSection {
    position: fixed;
    top: 0;
    left: 34%;
    width: 50%;
    height: 60px;
    opacity: 1;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2));
    z-index: 2;
    transition: all 0.5s;
}

::-webkit-scrollbar {
    width: 0;
    height: 12px;
    background-color: #ddd;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #818181;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    border-radius: 8px;
    background: #555;
}

div#footer {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    padding: 12px;
    color: #9AA6AC;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
}

#footer span:hover {
    color: #743BD6;
    cursor: pointer;
}


/* Loader box: parent class; */

.loader-box {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: 120px;
    height: 30px;
    background: #EEEEEE;
    border-radius: 8px;
    margin: 0 10px;
}


/* Bubble */

.bubble {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    right: 0;
    margin: 0 auto;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #743BD6;
    opacity: 0;
}

.bubble.relative {
    position: relative;
    left: 50%;
    float: left;
    /* margin-left: 20px */
}


/* Bubble collide efffect */

.bubble.solid.collide {
    position: relative;
    width: 15px;
    height: 15px;
    opacity: 1;
    background: #743BD6;
    -webkit-animation: bubbleCollideEffect 1s .25s infinite;
    -moz-animation: bubbleCollideEffect 1s .25s infinite;
    -ms-animation: bubbleCollideEffect 1s .25s infinite;
    -o-animation: bubbleCollideEffect 1s .25s infinite;
    animation: bubbleCollideEffect 1s .25s infinite;
}

.bubble.solid.collide:before,
.bubble.solid.collide:after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 100%;
    z-index: 9;
    top: 0;
    background: #743BD6;
}

.bubble.solid.collide:before {
    left: -25px;
    -webkit-animation: bubbleCollideLeft 1s ease-out infinite;
    -moz-animation: bubbleCollideLeft 1s ease-out infinite;
    -ms-animation: bubbleCollideLeft 1s ease-out infinite;
    -o-animation: bubbleCollideLeft 1s ease-out infinite;
    animation: bubbleCollideLeft 1s ease-out infinite;
}

@-webkit-keyframes bubbleCollideLeft {
    0%,
    100% {
        left: -25px;
    }
    40% {
        left: -50px;
    }
    50% {
        left: -25px;
    }
}

@keyframes bubbleCollideLeft {
    0%,
    100% {
        left: -25px;
    }
    40% {
        left: -50px;
    }
    50% {
        left: -25px;
    }
}

.bubble.solid.collide:after {
    right: -25px;
    -webkit-animation: bubbleCollideRight 1s .5s ease-out infinite;
    -moz-animation: bubbleCollideRight 1s .5s ease-out infinite;
    -ms-animation: bubbleCollideRight 1s .5s ease-out infinite;
    -o-animation: bubbleCollideRight 1s .5s ease-out infinite;
    animation: bubbleCollideRight 1s .5s ease-out infinite;
}

@-webkit-keyframes bubbleCollideRight {
    0%,
    100% {
        right: -25px;
    }
    40% {
        right: -50px;
    }
    50% {
        right: -25px;
    }
}

@keyframes bubbleCollideRight {
    0%,
    100% {
        right: -25px;
    }
    40% {
        right: -50px;
    }
    50% {
        right: -25px;
    }
}

.bubble.solid.bgt {
    opacity: 1;
    background: transparent;
    width: 15px;
    height: 15px;
}

.disclaimer-msg {
    padding: 14px;
    font-size: 14px;
    color: gray;
}


/* Checkboxes */


/* The container */

:host ::ng-deep .label-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin: 10px 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

:host ::ng-deep .label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

:host ::ng-deep .label-container input:focus,
:host ::ng-deep .label-container {
    outline: none;
}


/* Create a custom checkbox */

:host ::ng-deep .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid #cdcdcd;
}


/* On mouse-over, add a grey background color */

:host ::ng-deep .label-container:hover input~.checkmark {
    border: 1px solid #743BD6;
    outline: none;
}


/* When the checkbox is checked, add a blue background */

:host ::ng-deep .label-container input:checked~.checkmark {
    background-color: #fff;
    outline: none;
}

:host ::ng-deep .label-container input:checked .expect-salary-action,
:host ::ng-deep .expect-salary-action:focus {
    outline: none;
}


/* Create the checkmark/indicator (hidden when not checked) */

:host ::ng-deep .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

:host ::ng-deep .label-container input:checked~.checkmark:after {
    display: block;
    outline: none;
}


/* Style the checkmark/indicator */

:host ::ng-deep .label-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #743BD6;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.chbx-d-none {
    display: none;
}


/* age input */

:host ::ng-deep .age-input {
    border: none;
    border-bottom: 2px solid #743BD6;
    padding: 12px;
    font-size: 15px;
}

:host ::ng-deep .age-input:focus {
    outline: none;
}

:host ::ng-deep span.qa-action {
    color: #743BD6;
    text-decoration: underline;
    cursor: pointer;
}

:host ::ng-deep div#risk-assessment {
    border: 1px solid #bbbbbb;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 50%;
    margin: 30px auto;
}

@media screen and (max-width: 1310px) {
    .conversation {
        width: 70%;
    }
     :host ::ng-deep div#risk-assessment {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .conversation {
        width: 94%;
    }
     :host ::ng-deep div#risk-assessment {
        width: 75%;
    }
}

@media screen and (max-width: 645px) {
    .risk-msg {
        padding-left: 20px;
    }
}

@media screen and (max-width: 525px) {
     :host ::ng-deep .question .text {
        width: 100%;
    }
}

@media screen and (max-width: 365px) {
     :host ::ng-deep .actions-container .wrap .action {
        font-size: 14px;
    }
}

@media screen and (max-width: 334px) {
     :host ::ng-deep .actions-container .wrap .action {
        font-size: 13px;
    }
}


/* Pune footer */

#pune-footer {
    padding: 40px 0;
    height: 300px;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-gr {
    width: 100px;
    border-top: 3px solid #743BD6;
}

:host ::ng-deep .pune-govern-details {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    /* margin: 40px 0; */
}

.pune-mayor,
.pune-mnc {
    background: white;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.25);
    padding: 40px;
    margin: 20px;
    margin-bottom: 40px;
    width: 350px;
    height: 125px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.govern-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid white;
}

.govern-img img {
    border-radius: 50%;
}