/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    /* font-family: 'Open Sans', sans-serif !important; */
    font-family: 'Comfortaa', cursive !important;
    /* background-color: #3a5274; */
}

.mat-input-fields {
    width: 100% !important;
    height: 35px !important;
    background: #ffffff !important;
    color: #000000 !important;
    border-radius: 5px !important;
    padding-left: 7px !important;
    font-size: 12px !important;
    border: solid #BDD5EA !important;
    border-width: 1px 1px !important;
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    border: 1px solid #E1E2E4 !important;
    border-radius: 10px !important;
    opacity: 1;
}